@import 'reset.css'
@import '../font/stylesheet.css'
@import 'fleXLime.min.styl'
@import 'nib'

c-red = #EB2D7E
c-green = #A2C124
c-dark = #0D0315
c-purp = #281944
c-border = rgba(23, 169, 234, 0.4);

h1, h2, h3, h4 
  color c-green
  margin 20px 0
h5 
  color c-red
pre 
  overflow-x: auto;
  padding: 15px;
  margin: 20px 0;
  font-size: 16px;
  color c-red
  background: c-purp
  white-space: pre;
  word-wrap: normal;
  border 1px solid rgba(235, 45, 126, 0.44)
body 
  font-family 'imagine_fontregular'
  background c-dark
.wrapper 
  max-width 1300px
  margin 0 auto
.last 
  margin 0 0 10px 0
.git-footer
  margin-bottom 10px
  display block
.logo 
  display inline-block
  margin-top 20px
  img 
    max-width 100%
.m-title 
  color c-green
  font-size 13.8px
  margin 20px 0 30px 0
  span 
    color c-red
.box
  background c-purp
  height 60px
  margin 0 0 20px 0
  border 1px solid c-border
  color c-green
  font-size 30px
.box_b
  height 150px
.box_r
  width 60px
  height @width 
  background c-border
  border 1px solid c-green
section
  margin 0 0 50px 0
  border-bottom: 1px dashed rgba(162, 193, 36, 0.68);
  padding 0 0 0px 0
  flex-direction column
.git 
  margin-top 20px
  background-image: url("../images/git.png")
  width 50px 
  height 50px
.git-footer
  background-image: url("../images/git2.png")
  width 100px 
  height 41px
.green 
  color c-green
.c-blue
  color #00BCD4
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .git-footer
    background-image: url("../images/git2-big.png");
    -webkit-background-size: 100px 41px;
    -moz-background-size: 100px 41px;
    background-size: 100px 41px;
  .git 
    background-image: url("../images/git-big.png");
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
@media only screen and (max-width: 768px)
  .git
    margin-top 0px;
    position relative
    top -5px