doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .wrapper.container-fluid
      .row
        .lg-12
          a.logo(href="#")
            img(src="images/flex-lime-logo.png", alt="flex-lime-logo")
          p.m-title The grid on the 
            span flex 
            | display property.
      section
        h3 Flex grid: basics
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row  
          .xs-6
            .box.center-t 1
          .xs-6
            .box.center-t 2
        .row  
          .xs-4
            .box.center-t 3
          .xs-4
            .box.center-t 4
          .xs-4
            .box.center-t 5
      section
        h3 Auto width
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row  
          .xs
            .box.center-t 1
          .xs
            .box.center-t 2
        .row  
          .xs-8
            .box.center-t 3
          .xs
            .box.center-t 4
          .xs
            .box.center-t 5
      section
        h3 Justify content
        h5 .start-
        pre
          code
            &lt;div class='row start-xs'>&lt;/div>
        .row.left-lg
          .xs-3
            .box
          .xs-3
            .box
        h5 .end-
        pre
          code
            &lt;div class='row end-xs'>&lt;/div>
        .row.right-lg
          .xs-3
            .box
          .xs-3
            .box
        h5 .around-
        pre
          code
            &lt;div class='row around-xs'>&lt;/div>
        .row.around-lg
          .xs-3
            .box
          .xs-3
            .box
        h5 .between-
        pre
          code
            &lt;div class='row between-xs'>&lt;/div>
        .row.between-lg
          .xs-3
            .box
          .xs-3
            .box
          .xs-3
            .box
      section
        h3 Alignment
        h5 .left-
        pre
          code
            &lt;div class='row left-xs'>&lt;/div>
        .row.left-lg
          .xs-5
            .box.center-t 1
        h5 .right-
        pre
          code
            &lt;div class='row right-xs'>&lt;/div>
        .row.right-lg 
          .xs-5
            .box.center-t 2
        h5 .center
        pre
          code
            &lt;div class='row center-xs'>&lt;/div>
         .row.center-lg 
          .xs-5
            .box.center-t 3
        h5 .top
        pre
          code
            &lt;div class='row top-xs'>&lt;/div>
        .row.top-xs  
          .xs-6
            .box.center-t 1
          .xs-6
            .box.box_b.center-t 2
          .xs-6
        h5 .middle
        pre
          code
            &lt;div class='row middle-xs'>&lt;/div>
        .row.middle-xs  
          .xs-6
            .box.center-t 1
          .xs-6
            .box.box_b.center-t 2
        h5 .bottom
        pre
          code
            &lt;div class='row bottom-xs'>&lt;/div>
         .row.bottom-xs  
          .xs-6
            .box.center-t 1
          .xs-6
            .box.box_b.center-t 2
      section
        h3 Text align: vertical - horizontal
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row  
          .xs-12
            .box.box_b.center-t 12
      section
        h3 Align element
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row  
          .xs-12
            .box.box_b.flex
              .box_r.left.center-t 1
              .box_r.center.center-t 2
              .box_r.right.center-t 3
      section
        h3 Reverse
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row.reverse  
          .xs-3
            .box.center-t 1
          .xs-3
            .box.center-t 2
          .xs-3
            .box.center-t 3
          .xs-3
            .box.center-t 4
      section
        h3 flex-direction: column
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row.lg-column
          .lg-6.xs-12
            .box.center-t 1
          .lg-6.xs-12
            .box.center-t 2
          .lg-6.xs-12
            .box.center-t 3
          .lg-6.xs-12
            .box.center-t 4
      section
        h3 flex-direction: reverse-column
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row.lg-column-reverse
          .lg-6.xs-12
            .box.center-t 1
          .lg-6.xs-12
            .box.center-t 2
          .lg-6.xs-12
            .box.center-t 3
          .lg-6.xs-12
            .box.center-t 4
      section
        h3 Offsets
        pre
          code
            &lt;div class='row'>
            &lt;div class='xs'>
            &lt;div class='xs-center'>&lt;/div>
            &lt;/div>
            &lt;/div>
        .row  
          .xs-1.xs-offset-11
            .box.center-t 1
        .row  
          .xs-2.xs-offset-10
            .box.center-t 2
        .row  
          .xs-3.xs-offset-9
            .box.center-t 3
        .row  
          .xs-4.xs-offset-8
            .box.center-t 4
        .row  
          .xs-5.xs-offset-7
            .box.center-t 5
        .row  
          .xs-6.xs-offset-6
            .box.center-t 6
        .row  
          .xs-7.xs-offset-5
            .box.center-t 7
        .row  
          .xs-8.xs-offset-4
            .box.center-t 8
        .row  
          .xs-9.xs-offset-3
            .box.center-t 9
        .row  
          .xs-10.xs-offset-2
            .box.center-t 10
        .row  
          .xs-11.xs-offset-1
            .box.center-t 11